@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.Work-Sans-font {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.display-flex {
  display: flex;
}
.dark-1 {
  color: rgba(19, 19, 19, 1);
}
.dark-2 {
  color: rgba(66, 66, 66, 1);
}
.dark-3 {
  color: rgba(114, 114, 114, 1);
}

main {
  max-width: 1152px;
  margin: 0 auto;
}
main > section {
  margin-top: 100px;
}
/* navber style */
.header-section {
  background: rgba(255, 144, 14, 0.1);
}
.navber {
  justify-content: space-between;
  align-items: center;
}
.navber > h3 {
  font-weight: 700;
  font-size: 2rem;
}
.nav-items {
  list-style-type: none;
  margin-left: 25px;
}
.nav-link {
  text-decoration: none;
  font-size: 0.9rem;
}
.nav-link:hover{
  color: #ff5100;
  
}
.navber,
.banner {
  max-width: 1152px;
  margin: 0 auto;
}
.banner-content {
  max-width: 695px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.2rem;
}
.banner-description {
  font-weight: 400;
  font-size: 0.8rem;
}
.banner-content > button {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(255, 144, 14, 1);
  border-style: none;
  color: white;
  border-radius: 8px;
  background: #ff900e;
}
.banner-content > button:hover{
  background: #ff5100;
   box-shadow: 2px 2px 12px 1px rgb(255, 54, 54);
   scale: 1.05;
} 
.banner-img {
  width: 100%;
}

/* feature setion */
.Features-section {
  align-items: center;
}
.Features-text {
  margin-left: 50px;
  gap: 50px;
}
.Features-text h2 {
  font-size: 2rem;
  font-weight: 500;
  max-width: 360px;
}
.Features-text p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 420px;
  line-height: 1.5rem;
}
.Features-text button {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(255, 144, 14, 1);
  border-style: none;
  color: white;
  border-radius: 8px;
  background: #ff900e;
}
.Features-text button:hover{
  background: #ff5100;
    box-shadow: 2px 2px 12px 1px rgb(255, 54, 54);
      scale: 1.05;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}
.img-container img:hover{
  box-shadow: 2px 2px 12px 1px gray;
}
.p-2nd {
  font-weight: 700;
}
.p-3rd {
  color: #ff900e;
  font-weight: 700;
}

/* features-2nd-part */
.features-left-part > h2 {
  padding-left: 20px;
  border-left: 5px solid #ff900e;
  font-size: 2rem;
  width: 700px;
}
.features-left-part > p {
  font-size: 0.8rem;
  width: 400;
}
.features-left-card > h3 {
  font-size: 1rem;
  font-weight: 600;
}
.features-left-part {
  max-width: 480px;
}
.features-left-card > p {
  font-size: 0.8rem;
  font-weight: 600;
}
.features-left-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.features-left-card:hover{
  box-shadow: 1px 1px 10px 1px gray;
}
.features-2 {
  gap: 120px;
}
.features-right-part img {
  width: 100%;
  height: 90%;
}
.Experience-btn {
  color: white;
  border-radius: 8px;
  background: #ff900e;
  padding: 35px 32px;
  border: none;
  margin-top: -100px;
  margin-left: -100px;
}
.Experience-btn:hover{
    background: #ff5100;
    box-shadow: 2px 2px 12px 1px rgb(255, 54, 54);
}
.Experience-10-year {
  font-size: 3.2rem;
  font-weight: 700;
}
.Experience {
  font-size: 1.5rem;
  font-weight: 400;
}
/* fact section */
.fact-section-title{
 font-size: 2rem;
 margin: 0 30px;
}
.fact-section-description{
font-size: 0.8rem;
 margin: 20px 30px;
}
.fact-card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  margin: 0 30px;
}
.fact-card-container >.card{
  border: 1px solid rgb(243, 149, 106);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.fact-card-container>.card:hover{
   background: #ffeee6;
    box-shadow: 1px 1px 8px 1px #ffc2c2;
} 

.fact-card-p1{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.fact-card-p2{
  font-size: 1rem;
font-weight: 600;
}
.sponsors-text-part{
  text-align: center;
}
.sponsors-text-part>h3{
  font-size: 2rem;
  font-weight: 700;
}
.sponsors-text-part>p{
  font-size: 0.8rem;
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto;
}
.sponsors-icon{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 50px auto;
  
}
.sponsors-icon>div{
  text-align: center;
  filter: grayscale()
}

.footer-pera{
  font-size: 0.8rem;
  font-weight: 400;
max-width: 1100px;
  padding: 30px 228px;
  margin: 40px auto;
  border-radius: 8px;
background: #FFF4E7;
text-align: center;
}

/* responsive part for mobile */
@media screen and (max-width: 576px) {
  main > section {
    margin-top: 20px;
  }
  .navber,
  .nav-links,
  .features-2 {
    flex-direction: column;
  }
  .Features-section {
    flex-direction: column-reverse;
  }
  .img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .Features-text {
    margin: 10px 0;
    margin-bottom: 20px;
  }
  .Features-text p {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .features-2 {
    gap: 20px;
  }
  .features-left-part {
    margin: 0 10px;
  }
  .features-left-part > h2 {
    width: 70%;
  }
  .features-left-card {
    width: 0 10px;
  }
  .Experience-btn {
    margin-left: 0px;
    padding: 15px 12px;
  }
  .Experience-10-year {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .Experience {
    font-size: 1rem;
    font-weight: 400;
  }
  .fact-card-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  margin: 0 3px;
}
.sponsors-icon{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 25px;
  margin: 50px auto;
}
.sponsors-text-part{
  margin-top: 80px;
}
.footer-pera{
  font-size: 0.5rem;
  font-weight: 400;
max-width: 100%;
  padding: 20px 40px;
  margin: 40px auto;
  
}

}
/* responsive part for tablet */
@media screen and (min-width: 577px) and (max-width: 1000px) {
  .Features-section {
    flex-direction: column-reverse;
  }
  .features-2 {
    flex-direction: column;
  }
  .Features-text {
    margin: 10px 0;
    margin-bottom: 20px;
  }
  .navber,
  .banner {
    max-width: 700px;
    margin: 0 auto;
  }
  .features-left-part {
    max-width: 100%;
    margin: 0 10px;
  }
  .features-right-part img {
    width: 80%;
    margin-left: 100px;
  }
  .features-right-part {
    margin: 0 auto;
  }
  .Experience-btn {
    margin-left: 10px;
  }
    .fact-card-container {
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin: 0 20px;
}
.fact-section-title{
 text-align: center;
}
.fact-section-description{
text-align: center;
padding-bottom: 10px;
}
.sponsors-icon{

  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  margin: 50px auto;
}
.sponsors-text-part{
  margin-top: 80px;
}
}
